@import "tailwindcss";

/* Custom fonts */
@font-face {
	font-family: 'Warcry';
	src: url('/fonts/RodchenkoCTT.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Oldrichium';
	src: url('/fonts/OldrichiumITCStdLight.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
}
